/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  Section: Nav
  Purpose: 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* the nav itself */
.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 106px;
  background-color: var(--colorBcg-nav);
  padding: 0 3%;
  z-index: 1000;
}

.navigation__logo {
  max-width: 70px;
  object-fit: contain;
}

.navigation__logo__a {
  justify-self: start;
}
